{% extends "base.twig" %}

{% block title %}Portfolio{% endblock %}

{% block head %}
    {% if allowed and title is not defined %}
        <link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
    {% elseif allowed and title is defined%}
        <script src="/assets/js/portfolio.js"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <!--? Hero start-->
    <section class="slider-area slider-area2 slider-height2 d-flex align-items-center  hero-overly">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-11 col-md-12">
                    <div class="hero__caption hero__caption2 text-center">
                        {% if author is defined %}
                        <h2>{{ author|replace({'@salle.url.edu': ''}) }}'s Portfolio</h2>
                        {% else %}
                            <h2>Portfolio</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero end -->
    {% if title is defined %}
    <!--? Gallery Area Start -->
    <div class="gallery-area section-padding40">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="section-tittle mb-50">
                        <h2>{{ title }}</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-tittle mb-60">
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
            {% if albums|length == 0 %}
            <div class="d-flex flex-column gj-text-align-center justify-content-center m-xl-5">
                <p class="gj-text-align-center">
                    {% if ownPortfolio %}
                    Your portfolio doesn't have any album! Create one to get started.
                    {% else %}
                    The portfolio doesn't have any album.
                    {% endif %}
                </p>
            </div>
            {% else %}
                <div class="row justify-content-between">
                {% set numAlbum = 0 %}
                {% for album in albums %}
                    {% if numAlbum == 0 or numAlbum == 5%}
                        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img " style="background-image: url({{ album.photos[0] }});"></div>
                                <figcaption>{{ album.title }}</figcaption>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="/portfolio/album/{{ album.id }}"><i class="ti-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elseif numAlbum == 1 or numAlbum == 4 %}
                        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img " style="background-image: url({{ album.photos[0] }});"></div>
                                <figcaption>{{ album.title }}</figcaption>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="/portfolio/album/{{ album.id }}"><i class="ti-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img " style="background-image: url({{ album.photos[0] }});"></div>
                                <figcaption>{{ album.title }}</figcaption>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="/portfolio/album/{{ album.id }}"><i class="ti-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% set numAlbum = numAlbum+1 %}

                    {% if numAlbum == 6 %}
                        {% set numAlbum = 0 %}
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
            {% if ownPortfolio and allowed %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-btn text-center mt-50">
                        <button class="border-btn" data-toggle="modal" data-target="#newAlbumModal">New Album</button>
                    </div>
                </div>
            </div>
            <div id="newAlbumModal" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">New Album</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form" onsubmit="return onSubmitNewAlbum()">
                                <p>Introduce the title of the album and its cover photo URL in order to create it. It has a cost of 2€ that will be subtracted from your Wallet.</p>
                                <div class="form-group">
                                    <label class="col-form-label" for="title">Title</label>
                                    <input type="text" class="form-control" id="form_title" name="title" required maxlength="30" style="font-size: 1.6rem">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="cover">Cover Photo (URL)</label>
                                    <input type="url" class="form-control" name="cover" id="form_cover" required maxlength="1000" style="font-size: 1.6rem">
                                </div>
                                <div class="form-group">
                                    <p id="form_error" style="color: red"></p>
                                </div>
                                <br>
                                <button data-dismiss="modal" class="border-btn">Cancel</button>
                                <button type="submit" class="border-btn" style="background-color: steelblue">Pay and Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% elseif ownPortfolio and allowed == false %}
            <div class="d-flex flex-column gj-text-align-center justify-content-center" style="margin-top: 100px">
                <p>In order to manage your portfolio with its albums and photos, you need to be an Active user!</p>
                <div>
                    <a href="/user/membership" class="border-btn">Manage Membership</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Gallery Area End -->
    {% elseif ownPortfolio and allowed %}
        <section class="py-5 my-5">
            <div class="container">
                <h1 class="mb-5">Start your Portfolio</h1>
                <div class="bg-white shadow rounded-lg d-block d-sm-flex justify-content-center">
                    <form class="tab-content p-4 p-md-5" data-cy="sign-in" action="/portfolio" method="POST">
                        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                            <div class="col">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <br>
                                        <input type="text" name="title" value="{{ formData['title'] }}">
                                        {% if formErrors['title'] %}
                                            <p>{{ formErrors['title'] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <br>
                                        <textarea name="description" rows="5" cols="50" style="resize: none">{{ formData['description'] }}</textarea>
                                        {% if formErrors['description'] %}
                                            <p>{{ formErrors['description'] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6 gj-text-align-center">
                                    <input class="button" type="submit" value="Create">
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% elseif ownPortfolio and allowed == false %}
        <div class="d-flex flex-column gj-text-align-center justify-content-center" style="margin: 100px 0 200px 0">
            <p>In order to manage your portfolio with its albums and photos, you need to be an Active user!</p>
            <div>
                <a href="/user/membership" class="border-btn">Manage Membership</a>
            </div>
        </div>
    {% else %}
        <div class="d-flex flex-column gj-text-align-center justify-content-center" style="margin: 100px 0 200px 0">
            <p>This portfolio doesn't exist!</p>
            <div>
                <a href="/explore" class="border-btn">Go to Explore</a>
            </div>
        </div>
    {% endif %}
{% endblock %}